name: Osaka Masjid

on:
  push:
    branches:
      - main  # deploy whenever code is pushed to main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy to server via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          script: |
            cd /www/wwwroot/osakamasjid.org
            git pull origin main
            /www/server/nvm/versions/node/v20.17.0/bin/npm install
            /www/server/nvm/versions/node/v20.17.0/bin/pm2 stop osaka-mosque || true
            /www/server/nvm/versions/node/v20.17.0/bin/pm2 delete osaka-mosque || true
            /www/server/nvm/versions/node/v20.17.0/bin/npm run build
            /www/server/nvm/versions/node/v20.17.0/bin/npm run pm2:start
            /www/server/nvm/versions/node/v20.17.0/bin/pm2 save